{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<meta property="og:title" content="LiteTube - Zero-distraction Youtube client" />
<meta property="og:image" content="{% static 'img/banner.jpg' %}" />
{% endblock head %}

{% block title %}LiteTube - Zero-distraction Youtube client{% endblock %}

{% block content %}
<main>
    <div>
        <img src="{% static 'img/logo.png' %}" alt="LiteTube Logo">
        <p>Unwaste your time</p>
        <form action="{% url 'result' %}" method="get">
            <div class="search-bar">
                {{ video_search_form.query }}
                <button>🔎</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
