{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/video.css' %}">
<meta property="og:image" content="{{ video.thumbnail_url }}" />
{% endblock head %}

{% block title %}{{ video.title }} - LiteTube{% endblock %}

{% block content %}
<nav>
  <ul>
      <li>
          <a href="{% url 'search' %}">Search</a>
      </li>
      <li>
        <a href="javascript:history.back()">Go back</a>
    </li>
  </ul>
</nav>

<video src="{{ stream.first.url }}" id="video" controls>
</video>

<div class="resolution-controls">
  {% for stream in streams %}
  <button onclick="changeResolution('{{ stream.resolution }}')" data-resolution="{{ stream.resolution }}">
    {{stream.resolution }}
  </button>
  {% endfor %}
</div>

<h1>{{ video.title }}</h1>
<a href="{{ audio_stream_url }}" target="_blank" download="test.mp3">Download as mp3</a>

<script>
  const streams = {{ streams_json | safe }}

  const videoElement = document.getElementById("video");
  var currentResolution = Object.keys(streams)[0];
  changeResolution(currentResolution);

  function changeResolution(resolution) {
    const currentResolutionButton = document.querySelector(
      `[data-resolution="${currentResolution}"]`
    );
    currentResolutionButton.disabled = false;

    const videoCurrentTime = videoElement.currentTime;
    videoElement.setAttribute("src", streams[resolution]);
    videoElement.currentTime = videoCurrentTime;
    videoElement.play();

    currentResolution = resolution;

    const newResolutionButton = document.querySelector(
      `[data-resolution="${currentResolution}"]`
    );
    newResolutionButton.disabled = true;
  }
</script>
{% endblock content %}
